# Dependencias
/node_modules

# Archivos de registro
npm-debug.log*
yarn-debug.log*
yarn-error.log*
error.log
logs

# Archivos generados
/dist
/build

# Variables de entorno
.env

# Archivos de configuración local
config/local.js

# Archivos de respaldo
*.bak
*.backup
*.swp
*~